/* --------------------------------------------------*/
/*---------------------Style root--------------------*/
/*---------------------------------------------------*/
*{                                                  
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
body {
    background-color: black;
}
img {
    max-width: 100%;
    height: auto;
}

/* --------------------------------------------------*/
/*-----------Barre de navigation d'onglet------------*/
/*---------------------------------------------------*/
div.barrenav {
    background-color: rgb(0, 0, 0);
}
nav.navbar {
    width: 100%;
    margin: 0 auto;
    position: sticky;
    background-color: rgb(17, 17, 17);
    border-bottom: 2px solid rgb(10, 194, 25);
    top: 0px;
    z-index: 3;
}
nav.navbar ul {
    list-style-type: none;  
    display: flex;
}
nav.navbar ul li.menu{
    flex: 1 1 auto;
    border-top: none;
    text-align: center;
    position: relative;
}
nav.navbar .menu a {
    display: block;
    text-decoration: none;
    color: white;
    font-weight: bold;
    border-bottom: 1px thin transparent;
    padding: 10px 0px;
}
.navbar .menu a:hover{
    color: black;
    background-color: rgb(10, 194, 25);
}
nav.navbar ul.sous-menu {
    display: none;
    box-shadow: 0px 1px 2px rgb(0, 0, 0);
    background-color: rgb(121, 211, 118);
    position: absolute;
    width: 100%;
    z-index: 1000;
}
nav.navbar > ul li:hover .sous-menu {
    display: flex;
    flex-flow: column wrap;
}
.sous-menu li{
    flex: 1 1 auto;
    text-align: center;
}
.sous-menu a{
    padding: 10px;
    border-bottom: none;
}
.sous-menu a:hover{
    border-bottom: none;
    background-color: rgb(10, 194, 25) ;
}
.search-bar{
    display: flex;
}
.logo-panier {
    width: 2.5em;
    height: 2.3em;
    
}
.click-panier {
    width: auto;
    height: 1px;
}
.navbar ul.show-panier {
    display: none;
}
.navbar > ul li.shopping-cart a:focus{
    display: flex;
    flex-flow: column wrap;
}
.search-bar input,
.search-btn, 
.search-btn:before, 
.search-btn:after {
	transition: all 0.25s ease-out;
}
.search-bar input,
.search-btn {
	width: 3em;
	height: 3em;
}
.search-bar input:invalid:not(:focus),
.search-btn {
	cursor: pointer;
}
.search-bar,
.search-bar input:focus,
.search-bar input:valid  {
	width: 100%;
}
.search-bar input:focus,
.search-bar input:not(:focus) + .search-btn:focus {
	outline: transparent;
}
.search-bar {
	margin: auto;
	padding: 0;
	justify-content: center;
	max-width: 30em;
}
.search-bar input {
	background: transparent;
	border-radius: 1.5em;
	box-shadow: 0 0 0 0.4em #f1f1f1 inset;
	padding: 0.75em;
	transform: translate(0.5em,0.5em) scale(0.5);
	transform-origin: 100% 0;
}
.search-bar input:focus,
.search-bar input:valid {
	background: #fff;
	border-radius: 0.375em 0 0 0.375em;
	box-shadow: 0 0 0 0.1em #3d3d3d inset;
	transform: scale(1);
}
.search-btn {
	background: #f1f1f1;
	border-radius: 0 0.75em 0.75em 0 / 0 1.5em 1.5em 0;
	padding: 0.75em;
	position: relative;
	transform: translate(0.25em,0.25em) rotate(45deg) scale(0.25,0.125);
	transform-origin: 0 50%;
}
.search-btn:before, 
.search-btn:after {
	content: "";
	display: block;
	opacity: 0;
	position: absolute;
}
.search-btn:before {
	border-radius: 50%;
	box-shadow: 0 0 0 0.2em #f1f1f1 inset;
	top: 0.75em;
	left: 0.5em;
	width: 1.2em;
	height: 1.2em;
}
.search-btn:after {
	background: #f1f1f1;
	border-radius: 0 0.25em 0.25em 0;
    top: 61%;
    left: 45%;
	width: 0.75em;
	height: 0.25em;
	transform: translate(0.2em,0) rotate(45deg);
	transform-origin: 0 50%;
}
.search-btn span {
	display: inline-block;
	overflow: hidden;
	width: 1px;
	height: 1px;
}

/* Active state */
.search-bar input:focus + .search-btn,
.search-bar input:valid + .search-btn {
	background: rgb(30, 223, 4);
	border-radius: 0 0.375em 0.375em 0;
	transform: scale(1);
}
.search-bar input:focus + .search-btn:before, 
.search-bar input:focus + .search-btn:after,
.search-bar input:valid + .search-btn:before, 
.search-bar input:valid + .search-btn:after {
	opacity: 1;
}
.search-bar input:focus + .search-btn:hover,
.search-bar input:valid + .search-btn:hover,
.search-bar input:valid:not(:focus) + .search-btn:focus {
	background: #24db0c;
}
.search-bar input:focus + .search-btn:active,
.search-bar input:valid + .search-btn:active {
	transform: translateY(1px);
}

/* responsive barre du haut */

.nav_tel{
    display: none;
}

@media only screen and (max-width: 768px) {
.navbar{
    display: none;
}

.nav_tel{
    display: block;
    margin: 0 auto;
}
    
 #menuToggle
 {
   display: block;
   position: relative;
   top: 50px;
   left: 50px;
   z-index: 1;
   user-select: none;
 }
 
 #menuToggle a
 {
   text-decoration: none;
   color: #232323;
   
   transition: color 0.3s ease;
 }
 
 #menuToggle a:hover
 {
   color: tomato;
 }
 
 
 #menuToggle > input
 {
   display: block;
   width: 40px;
   height: 32px;
   position: absolute;
   top: -7px;
   left: -5px; 
   cursor: pointer; 
   opacity: 0;
   z-index: 2; 
 }
 
 #menuToggle span
 {
   display: block;
   width: 33px;
   height: 4px;
   margin-bottom: 5px;
   position: relative;
   
   background: #cdcdcd;
   border-radius: 3px;
   
   z-index: 1;
   
   transform-origin: 4px 0px;
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               opacity 0.55s ease;
 }
 
 #menuToggle span:first-child
 {
   transform-origin: 0% 0%;
 }
 
 #menuToggle span:nth-last-child(2)
 {
   transform-origin: 0% 100%;
 }
 
 #menuToggle input:checked ~ span
 {
   opacity: 1;
   transform: rotate(45deg) translate(-2px, -1px);
   background: #232323;
 }
 
 #menuToggle input:checked ~ span:nth-last-child(3)
 {
   opacity: 0;
   transform: rotate(0deg) scale(0.2, 0.2);
 }

 #menuToggle input:checked ~ span:nth-last-child(2)
 {
   transform: rotate(-45deg) translate(0, -1px);
 }
 
 #menu
 {
   position: absolute;
   width: 300px;
   margin: -100px 0 0 -50px;
   padding: 50px;
   padding-top: 125px;
   background: #ededed;
   transform-origin: 0% 0%;
   transform: translate(-100%, 0);
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
 }

 #menu li
 {
   list-style-type: none;   
   padding: 10px 0;
   font-size: 22px;
   z-index: 3;
 }
 
 #menuToggle input:checked ~ ul
 {
   transform: none;
 }

 #menu button {
     font-size: 22px;
    border: 0;
    background: transparent;
    cursor: pointer;
}

#menu button:focus {
    outline: 0;
    text-decoration: underline;
}

.sous-burger {
    display: none;
    position: absolute;
    padding: 10px;
}
#menu button:focus + .sous-burger,
.sous-burger:hover {
    display: block;
    position:static;
}
}

/* --------------------------------------------------*/
/*---------Diapositive défilement automatique--------*/
/*---------------------------------------------------*/
.slideshow{
    overflow: hidden;
    max-width: 90%;
    margin-top: 4em;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: -1;
}
    
.slideshow ul{
    padding-bottom: 66.67%;/* ratio pour le responsive */
    margin: 0;
    position: relative;
}
    
.slideshow li{
    top: 0;
    left: 0;
    animation: slideshow 25s ease infinite;
    position: absolute;
    opacity: 0;
    object-fit: contain;
}

.slideshow li:nth-child(2){
    animation-delay: 5s
}

.slideshow li:nth-child(3){
    animation-delay: 10s
}

.slideshow li:nth-child(4){
    animation-delay: 15s
}

.slideshow li:nth-child(5){
    animation-delay: 20s
}

@keyframes slideshow{	
    0%{opacity: 0}
    10%{opacity: 1}
    20%{opacity: 1}
    25%{opacity: 0}
    100%{opacity: 0}
}

/* --------------------------------------------------*/
/*---------------Image produits accueil--------------*/
/*---------------------------------------------------*/
.produits {
    list-style: none;
    display:flex;
    flex-wrap: wrap;
    padding: 0 10%;   
}

.produits li{
    flex-basis:50%;
    border: thick double rgb(10, 194, 25);
    position:relative;
}

.produits input {
    color: yellow;
    border-color: yellow;
    background-color: transparent;
    width : auto;
    font-size: x-large;
    position: absolute;
    top: 50%
}

.produits li form{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 768px) {
    /* sur téléphone */
    .produits input {
      font-size: small;
    }

    .produits li{
        flex-basis: auto;
    }
}

/* --------------------------------------------------*/
/*-------------------Liste de produit----------------*/
/*---------------------------------------------------*/
div.search-list{
    width: 80%;
    margin: 0 auto;
    top: 0px;
    margin-top: 10%;
    margin-left: 12em;
    background-color: black;
}

.search-list ul{
    border-bottom: 1px solid gray;
    list-style-type: none;
    display: flex;
}

.search-list ul li{
    flex: 0 1 auto;
    text-align: center;
}
.search-list ul li:nth-child(2) {
    margin-left: 5%;
}
.search-list ul li :hover {
    color: white;
}
.search-list ul li :focus {
    color: white;
    border-bottom: 2px solid rgb(30, 223, 4);
}

.search-list ul li a{
    display: block;
    font-size: 1.5em;
    text-decoration: none;
    color: rgb(167, 162, 162);
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}
.prod-recherche {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    background-color: black;
}
.prod-recherche ul.article-list {
    list-style-type: none;
    width: auto;
    background-color: black;
}
.prod-recherche ul.article-list li.product {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    height: 15em;
    padding: 1em;
}
.description {
    width: 50%;
    margin-left: 5%;
}
.prod-recherche ul.article-list li .description h3.new {
    color: black;
    width: 5em;
    padding: 1px;
    text-align: center;
    margin-bottom: 5%;
    background-color: rgb(30, 223, 4);

}
.prod-recherche ul.article-list li .description h3.exclusif {
    color: black;
    width: 5em;
    padding: 1px;
    text-align: center;
    background-color: rgb(214, 20, 101);
}
.prod-recherche ul.article-list li .description a.titre {
    display: block;
    text-decoration: none;
    font-size: small;
    color: white;
    margin-top: 2%;
}
.prod-recherche ul.article-list li .description a.titre:hover{
    text-decoration: underline;
}
.prod-recherche ul.article-list li .description .text-grey {
    color: grey;
    margin-top: 1%;
}
.description .mini-list {
    list-style-type: disc;
    display: block;
    color: grey;
    margin-top: 1%;
    margin-left: 5%;
}
.description .information-article{
    display: inline-block;
    text-decoration: none;
    color:rgb(21, 160, 3);
    margin-top: 2%;
}
.description .information-article:hover{
    text-decoration: underline;
}
.description .information-article::after{
    content: " >";
    display: inline-block;
    font-size: small;
    padding-left: 0.1875rem;
    position: relative;
}
.prod-recherche ul.article-list li img {
    width: 35%;
    height: auto;
    align-items: center;
    border: 1px solid gray;
    background-color: rgb(24, 23, 23);
    box-shadow: 8px 8px 12 px gray;
}
.prod-recherche ul.article-list li span.prix {
    display: block;
    color: white;
    font-size: 15px;
    font-weight: bold;
    align-items: flex-start;
    margin-top: 5%;
}

/* responsive */

@media only screen and (max-width: 768px) {
    .prod-recherche{
        margin-top:4em;
        width: 100%;
        margin-bottom: 4em;
    }
    div.search-list{
        margin: 0 auto;
    }
    .prod-recherche ul.article-list li img{
        max-width: 220px;
        width:60%;
    }
    .text-grey {
        font-size: 14px;
    }
    .mini-list{
        font-size: 12px;
    }
    .prod-recherche ul.article-list li .description h3.new, 
    .prod-recherche ul.article-list li .description h3.exclusif{
        height: 21px;
        padding: 0;
    }
    .description .information-article{
        font-size: 14px;
    }
    .description .information-article::after{
        display: none;
    }
}


/*--------------------------------------------------*/
/*--------------Page de description-----------------*/
/*------------------composant-----------------------*/
/*--------------------------------------------------*/

.container {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
.bande-description {
    width: 100%;
    height: 5%;
    background-color: rgb(17, 17, 17) ;
    padding: 10px;

}
.bande-description h4 {
    vertical-align: middle;
    margin-left: 5%;
    color: white;

}
.container-image {
    background-color: black;
    display: flex;
    width: 60%;
    height: 75%;
    justify-content: center;
    align-items: center;
    -webkit-align-items:center;
}
.images {
    display: flex;
    width: 640px;
    height: 40em;
    animation-duration: 40s;
    animation-name: defilement;
    animation-iteration-count: infinite;
    z-index: 2;
}
@keyframes defilement{
    0% {transform: translateX(0);}
    25%{transform: translateX(-640px)}
    50%{transform: translateX(-1280px)}
    75%{transform: translateX(-1920px)}
    100%{transform: translateX(0)}
}
.images li:nth-child(1){
    animation-delay: 10s;
}
.images li:nth-child(2){
    animation-delay: 20s;
}
.images li:nth-child(3){
    animation-delay: 30s;
}
.images li:nth-child(4){
    animation-delay: 40s;
}
.big-image {
    width: 640px;
    overflow: hidden;
    background-color: rgb(17, 16, 16);
    border-radius: 10px;
    z-index: 2;
}
.info-description {
    background-color: black ;
    width: 20%;
    height: 75%;
    margin-top: 1%;
}
.info-description h3 {
    color: rgb(30, 223, 4);
}
.text-white {
    margin-top: 10px;
    font-size: 1em;
    color: white;
}
.descrip-prix {
    display: block;
    margin-top: 5%;
    color: white;
    font-size: large;
}
.info-description .larger-list {
    margin-top: 10%;
    list-style-type: disc;
    display: block;
    color: grey;
    font-size: 20px;
}
.larger-list li {
    padding: 10px;
}
.add-cart {
    width: 35em;
    height: 50px;
    border-radius: 10px;
    background-color: rgb(30, 223, 4);
    border: none;
    font-weight: bold;
    margin-top: 20%;
}
.info-technique {
    width: 100%;
    height: 25%;
    background-color: rgb(36,36,36);
}
.info-technique h3 {
    margin-top: 1%;
    margin-left: 5%;
    color: white;
}
.carac-tech {
    margin-left: 10%;
    display: flex;
    width: 80%;
    height: 100%;
    background: rgb(36,36,36);
}
table {
    width: 100%;
}
th{
    width: 20%;
    border-bottom: 1px solid lightgray;
    color: white;
    padding: 20px;
}
td {
    width: 80%;
    color: grey;
    border-bottom: 1px solid lightgray;
    padding: 20px;
}

/* responsive */

@media only screen and (max-width: 768px) {
    .container{
        margin-top: 4em;
    }
    .container-image{
        width: 100%;
    }
    .info-description {
        width: 100%;
    }
    .add-cart {
        width: 100%;
        margin-top: 5%;
        margin-bottom: 10%;
    }
}

/*--------------------------------------------------*/
/*---------------------Panier-----------------------*/
/*--------------------------------------------------*/

.container-panier {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    height: 44em;
}
.text-panier {
    color: white;
    font-size: 1em;
}
.bandeau {
    display: flex;
    width: 100%;
    height: 10%;
    background-color: rgb(36,36,36);
}
.bandeau h4 {
    align-self: center;
    color: white;
    margin-left: 5%;
}
.article-panier {
    display: flex;
    width: 100%;
    height: 40%;
    background-color: black;
    flex-flow: row wrap;
}
.sell-img {
    display: flex;
    width: 20%;
    height: 80%;
    justify-content: flex-end;
    background: black;
}
.sell-img img{
    margin-top: 5%;
    width: 50%;
    height: 60%;
}
.info-sell {

    background-color: black;
    width: 25%;
    height: 50%;
}
.info-sell .titre-panier {
    display: block;
    margin-top: 2%;
    text-decoration: none;
    color: white;
}
.info-sell .list-panier {
    margin-left: 5%;
    margin-top: 1%;
    list-style-type: disc;
    color: grey;
    font-size: 15px;
}
.info-sell .list-panier li {
    margin-top: 2px
}
.selectdiv {
    width: 55%;
    height: 50%;
    background-color: black;
}
.select-panel {
    position: relative;
    margin-top: 0;
    margin-right: 65%;
  }
select::-ms-expand {
  display: none;
}
w
.select-panel:after {
    content: '<>';
    font: 17px "Consolas", monospace;
    color: rgb(30, 223, 4);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 11px;
    
    top: 15px;
    padding: 0 0 2px;
    border-bottom: 1px solid rgb(30, 223, 4);
    
    position: absolute;
    pointer-events: none;
}
  
.select-panel select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
    display: block;
    width: 40%;
    max-width: 320px;
    height: 40px;
    float: right;
    margin: 5px 0px;
    padding: 0px 24px;
    font-size: 16px;
    line-height: 1.75;
    color: rgb(30, 223, 4);
    background-color: black;
    background-image: none;
    border: 1px solid rgb(30, 223, 4);
    -ms-word-break: normal;
    word-break: normal;
}
.panier-vide {
    display: inline-block;
    margin-left: 65%;
    color: grey;
}
.prix-panier-atm {
    color: white;
    margin-left: 80%;
}
.payment-info {
    width: 100%;
    height: 50%;
    background-color: black;
}
.bandeau .payment-price{
    align-self: center;
    margin-left: 60%;
    color: white;
}
.bandeau form.paiement{
    align-self: center;
}
.bandeau .payment{
    margin-left: 20%;
    width: 15em;
    height: 30px;
    background-color: rgb(30, 223, 4);
    border: none;
    border-radius: 5px;
}
.add-items {
    margin-left: 90em;
    width: 15em;
    height: 30px;
    background-color: black;
    color: rgb(30, 223, 4);
    border: 1px solid rgb(30, 223, 4);
    border-radius: 5px;
}

/* responsive */

@media only screen and (max-width: 768px) {
    .container-panier{
        margin-top: 4em;
    }
    .bandeau {
        flex-direction: column;
    }
    .bandeau h4{
        align-self: auto;
    }
    .bandeau .payment-price{
        margin-left: 5%;
        align-self: auto;
    }
    .bandeau .payment{
        margin-left: 35%;
    }
    .sell-img{
        width: 100%;
    }
    .sell-img img{
        width: 100%;
        height: auto;
    }

    .info-sell{
        width: 100%;
        height: auto;
    }
    .info-sell .list-panier {
        width: 100%;
        height: auto;
        position: relative;
    }
    .selectdiv{
        width: 100%;
        height: auto;
    }
    .select-panel{
        margin: 0 auto;
    }
    .prix-panier-atm{
        width: 100%;
        height: auto;
        position: relative;
    }
    .add-items{
        margin-left: 50%;
        position: relative;
        margin-top: 10%;
    }
}

/*--------------------------------------------------*/
/*------------------Panier vide---------------------*/
/*--------------------------------------------------*/

.img-panier-vide {
    display: flex;
    width: 100%;
    height: 60%;
    background-color: black;
    justify-content: center;
}
.text-panier-vide {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 10%;
}
.add-article {
    width: 100%;
    height: 20%;
}
.coffre-vide {
    width: 30%;
    height: auto;
}
.text-coffre-vide {
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    color: rgb(10, 194, 25);
}
.add-items-panier-vide {
    margin-left: 39.3%;
    font-size: large;
    width: 23em;
    height: 40px;
    background-color: black;
    color: rgb(30, 223, 4);
    border: 1px solid rgb(30, 223, 4);
    border-radius: 5px;
}

/* responsive */

@media only screen and (max-width: 768px) {
    .img-panier-vide{
        height: auto;
    }
    .text-panier-vide span{
        font-size: 20px;
    }
    .add-items-panier-vide{
        margin-left: 0;
        position: relative;
        margin-top: 10%;
        width: 15em;
    }
    .add-article{
        display: flex;
        justify-content: center;
    }
}

/*--------------------------------------------------*/
/*-----------------Bas de page----------------------*/
/*--------------------------------------------------*/
.navzone{
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    width: 100%;
    background-color:rgb(17, 17, 17) ;
}

.navzone ul{
    list-style-type: none;
}

.navzone > ul{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.navzone a{
    display: flex;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}

.info .bot a{
    font-size: small;
    color:rgb(151, 144, 144);   
}
.info .bot a:hover{
    color: white;
    text-decoration: underline;
}
.info .bot-title a {
    color: white;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: rgb(21, 160, 3);
    text-underline-offset: 0.25em;
}

/*  responsive */

.nav_bas_tel{
    display: none;
}

@media only screen and (max-width: 768px) {
    .navzone{
        display: none;
    }
    .nav_bas_tel{
        display: block;
        position: absolute;
        background-color: rgb(17, 17, 17);
        width: 100%;
    }

    .nav_bas_tel li {
        list-style-type: none;
    }

    .nav_bas_tel button {
        font-size: 18px;
        border: 0;
        background: transparent;
        cursor: pointer;
        color: whitesmoke;
    }

    .nav_bas_tel button:focus {
        outline: 0;
        text-decoration: underline;
    }

    .sous_categ_bas{
        display: none;
        position: absolute;
        padding:10px;
    }

    .sous_categ_bas a{
        color: darkgrey;
    }

    .nav_bas_tel button:focus + .sous_categ_bas,
    .sous_categ_bas:hover{
        display: block;
        position: static;
    }

}