*{
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box  ;
}
body{
    background-color:lightblue;
}
.navbar {
    display: flex;
    justify-content: center;
    width: 80%;
    padding-left: 10%;
    margin: 0auto;
    position: sticky;
    top:0px
}
.navbar ul {
    list-style-type: none;
    flex: 1 1 auto;
}
.navbar ul li{
    float: left;
    width: 15%;
    text-align: center;
}
nav ul::after{
    content:"";
    display: table;
    clear: both;
}
.navbar a {
    display: block;
    text-decoration: none;
    color: white;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}
.navbar a:hover{
    color: black;
    border-bottom: 2px solid white;
    background-color: lightblue;
}
.sous-menu {
    display: none;
    background-color: darkblue;
}
.navbar > ul li:hover .sous-menu {
    display: block;
}
.navbar .sous-menu li{
    float: none;
    width: 100%;
}
.menu {
    background-color: darkblue;
}
.menu:hover{
    background-color: darkblue; 
}
.navbar input[type="search"]{
    float: none;
    height: 30px;
    width: 200px;
}
.navbar li button {
    float: none;
    margin-top: 5px;
    height: 30px;

}
.titr_nouv {
    text-align: left;
    padding-left: 10%;
    padding-right: 10%;
}
.nouveaute {
    list-style-type: none;
    display:block;
    padding-left: 10%;
    padding-right: 10%;
}
.items{
    height: 200px;
    border:solid;
    float: left;
    width: 20%;
}
.img_items{
    height: 50%;
    width: 50%;
}
.texte{
    text-align: left;
}
.prix{
    text-align: right;
}


.navzone{
    width: 100%;
    background-color: darkcyan;
    margin-top: 100%;
}
.navzone a{
    display: block;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}
.navzone ul{
    list-style-type: none;
}
.info{
    width:25%;
    float:left;
    text-align:center;
}
.info a{
    font-size: small;
    color:lightcyan;   
}