.div1 {
    display: flex;
    flex-flow: row-reverse wrap;
    width: 100em;
    height: 30em;
    background-color: orange;
}

.div1-2 {
    width: 40%;
    height: 50%;
    background-color: rosybrown;
}
.div1-3 {
    width: 40%;
    height: 50%;
    background-color: saddlebrown;
}
.div1-4{
    width: 80%;
    height: 50%;
    background-color: seagreen;
}