*{
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
body {
    background-color: lightblue;
}

/* --------------------------------------------------*/
/*-----------Barre de navigation d'onglet------------*/
/*---------------------------------------------------*/
nav.navbar {
    width: 80%;
    margin: 0 auto;
<<<<<<< HEAD
    background-color: darkblue;
    position: sticky;
    top: 0x;
=======
    display: flex;
    justify-content: center;
    position: sticky;
    background-color: darkblue;
}
.navbar ul {
    list-style-type: none;  
    flex: 1 1 auto;
}
.navbar ul li{
    float: left;
    width: 15%;
    text-align: center;
>>>>>>> fa868a00dddc545900db19542f916aae0d6525b7
}
nav.navbar ul {
    list-style-type: none;  
    display: flex;
}
nav.navbar ul li{
    flex: 1 1 auto;
    text-align: center;
    position: relative;
}
nav.navbar a {
    display: block;
    text-decoration: none;
    color: white;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}
<<<<<<< HEAD
nav.navbar a:hover{
=======
.navbar a:hover{
    color: black;
>>>>>>> fa868a00dddc545900db19542f916aae0d6525b7
    background-color: rgb(103, 162, 180);
}
nav.navbar .sous-menu {
    display: none;
    box-shadow: 0px 1px 2px rgb(0, 0, 0);
    background-color: darkblue;
    position: absolute;
    width: 100%;
    z-index: 1000;
}
nav.navbar > ul li:hover .sous-menu {
    display: flex;
    flex-flow: column wrap;
}
.sous-menu li{
    flex: 1 1 auto;
    text-align: left;
}
.sous-menu a{
    padding: 10px;
    border-bottom: none;
}
.sous-menu a:hover{
    border-bottom: none;
    background-color: lightblue;
}
.navbar li .search-bar{
    display: inline-flex;
    justify-items: flex-start;
    border: none;
    height: 100%;
    width: 85%;
}
.search-button {
    display: inline-flex;
    justify-content: flex-start;
    height: 100%;
    width: 13%;
    margin-left: -4px;
    margin-right: -8px;
    background-color: rgb(202, 125, 23);
}
.navbar li.button-background {
    background-color: lightblue;
}


/* --------------------------------------------------*/
/*-----------Liste d'article correspodnant-----------*/
/*---------------------------------------------------*/

h1{
    text-align: center;
    margin-top: 9px;
    color: tomato;
}
article.prod-recherche ul {
    list-style-type: none;
    margin-top: 10%;
}
article.prod-recherche ul li {
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    border: solid;
    padding: 5em;
    border-bottom: none;
}
article.prod-recherche ul li:last-child{
    border-bottom: solid black;
}
article.prod-recherche ul li img {
    width: 10%;
    height: 10%;
}

/*--------------------------------------------------*/
/*-----------------Bas de page----------------------*/
/*--------------------------------------------------*/

.navzone         {
    width: 100%;
    background-color: darkcyan;
    margin-top: 100%;
    line-height: 50%;
}
.navzone a{
    display: block;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}
.navzone ul{
    list-style-type: none;
}
.info{
    width:25%;
    float:left;
    text-align:center;
}
.info a{
    font-size: small;
    color:lightcyan;   
}