*{
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
body {
    background-color: lightblue;
}

/* --------------------------------------------------*/
/*-----------Barre de navigation d'onglet------------*/
/*---------------------------------------------------*/
nav.navbar {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
}
.navbar ul {
    list-style-type: none;  
    flex: 1 1 auto;
}
.navbar ul li{
    float: left;
    width: 15%;
    text-align: center;
    background-color: darkblue;
}
.navbar ul::after{
    content:"";
    display: table;
    clear: both;
}
.navbar a {
    display: block;
    text-decoration: none;
    color: white;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}
.navbar a:hover{
    background-color: rgb(103, 162, 180);
}
.sous-menu {
    display: none;
    background-color: darkblue;
    position: absolute;
    width: 100%;
}
.navbar > ul li:hover .sous-menu {
    display: block;
}
.navbar .sous-menu li{
    float: none;
    width: 100%;
}
.menu {
    background-color: rgba(10, 10, 134, 0.904);
    font-weight: bold;
    color: white;
    position: relative;
}
.menu:hover{
    background-color: lightblue;
}
.navbar li input[type="search"]{
    float: left;
    height: 40px;
    width: 200px;
}
.navbar li.button-background {
    background-color: lightblue;
}
.navbar li button {
    float: right;
}
svg {
    height: 24px;
    width: 24px;
    top: 5px;
}

/* --------------------------------------------------*/
/*-----------Liste d'article correspodnant-----------*/
/*---------------------------------------------------*/

h1{
    text-align: center;
    margin-top: 9px;
    color: tomato;
}
article.prod-recherche ul {
    list-style-type: none;
    margin-top: 10%;
}
article.prod-recherche ul li {
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    border: solid;
    padding: 5em;
    border-bottom: none;
}
article.prod-recherche ul li:last-child{
    border-bottom: solid black;
}
article.prod-recherche ul li img {
    width: 10%;
    height: 10%;
}

/*--------------------------------------------------*/
/*-----------------Bas de page----------------------*/
/*--------------------------------------------------*/

.navzone         {
    width: 100%;
    background-color: darkcyan;
    margin-top: 100%;
    line-height: 50%;
}
.navzone a{
    display: block;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}
.navzone ul{
    list-style-type: none;
}
.info{
    width:25%;
    float:left;
    text-align:center;
}
.info a{
    font-size: small;
    color:lightcyan;   
}