*{
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box  ;
}
body{
    background-color:lightblue;
}

/* barre du haut*/

.navbar {
    background-color: darkblue;
    display: flex;
    justify-content: center;
    width: 80%;
    padding-left: 10%;
    margin: 0 auto;
    position: sticky;
}
.navbar ul {
    list-style-type: none;
    flex: 1 1 auto;
}
.navbar ul li{
    float: left;
    width: 15%;
    text-align: center;
}
nav ul::after{
    content:"";
    display: table;
    clear: both;
}
.navbar a {
    display: block;
    text-decoration: none;
    color: white;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}
.navbar a:hover{
    color: black;
    background-color: lightblue;
}
.sous-menu {
    display: none;
    background-color: darkblue;
    position: absolute;
    width: 100%;
}
.navbar > ul li:hover .sous-menu {
    display: block;
}
.navbar .sous-menu li{
    float: none;
    width: 100%;
}
.menu {
    background-color: darkblue;
    color: white;
    position: relative;
}
.menu:hover{
    background-color: darkblue; 
}
.navbar input[type="search"]{
    float: none;
    height: 30px;
    width: 80%;
}
.navbar li button {
    float: none;
    height: 30px;
}
svg {
    height: 24px;
    width: 24px;
    top: 5px;
}   

/* première section */

article *{
    display:flex;
    flex-direction: column;
}

.titr_nouv {
    margin-top: 10%;
    text-align: left;
    padding-left: 10%;
    padding-right: 10%;
    font-size: x-large;
}
.nouveaute {
    background-color: darkblue;
    list-style-type: none;
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
    padding-top: 1%;
    padding-left: 10%;
    padding-right: 10%;
}
.items{
    background-color: yellowgreen;
    height: 50%;
    border:solid;
    width: 20%;
}
.img_items{
    height: 50%;
    width: 50%;
}
.texte{
    text-align: left;
}
.prix{
    text-align: right;
}

/* barre du bas */

.navzone{
    width: 100%;
    background-color: darkcyan;
    margin-top: 100%;
    line-height: 50%;
}
.navzone a{
    display: block;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}
.navzone ul{
    list-style-type: none;
}
.info{
    width:25%;
    float:left;
    text-align:center;
}
.info a{
    font-size: small;
    color:lightcyan;   
}