*{
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box  ;
}
body{
    background-color:black  ;
}

img{
    max-width:100%;
    height: auto;
}

/* --------------------------------------------------*/
/*-----------Barre de navigation d'onglet------------*/
/*---------------------------------------------------*/

div.barrenav {
    background-color: rgb(0, 0, 0);
    z-index: 10;
}
nav.navbar {
    width: 90%;
    margin: 0 auto;
    position: sticky;
    background-color: rgb(17, 17, 17);
    border-bottom: 2px solid rgb(10, 194, 25);
}
nav.navbar ul {
    list-style-type: none;  
    display: flex;
}
nav.navbar ul li.menu{
    flex: 1 1 auto;
    border-top: none;
    text-align: center;
    position: relative;
}
nav.navbar a {
    display: block;
    text-decoration: none;
    color: white;
    font-weight: bold;
    border-bottom: 1px thin transparent;
    padding: 10px 0px;
}
.navbar a:hover{
    color: black;
    background-color: rgb(10, 194, 25);
}
nav.navbar ul.sous-menu {
    display: none;
    box-shadow: 0px 1px 2px rgb(0, 0, 0);
    background-color: rgb(121, 211, 118);
    position: absolute;
    width: 100%;
    z-index: 1000;
}
nav.navbar > ul li:hover .sous-menu {
    display: flex;
    flex-flow: column wrap;
}
.sous-menu li{
    flex: 1 1 auto;
    text-align: center;
}
.sous-menu a{
    padding: 10px;
    border-bottom: none;
}
.sous-menu a:hover{
    border-bottom: none;
    background-color: rgb(10, 194, 25) ;
}
.search-bar{
    display: flex;
}
.search-bar input,
.search-btn, 
.search-btn:before, 
.search-btn:after {
	transition: all 0.25s ease-out;
}
.search-bar input,
.search-btn {
	width: 3em;
	height: 3em;
}
.search-bar input:invalid:not(:focus),
.search-btn {
	cursor: pointer;
}
.search-bar,
.search-bar input:focus,
.search-bar input:valid  {
	width: 100%;
}
.search-bar input:focus,
.search-bar input:not(:focus) + .search-btn:focus {
	outline: transparent;
}
.search-bar {
	margin: auto;
	padding: 0;
	justify-content: center;
	max-width: 30em;
}
.search-bar input {
	background: transparent;
	border-radius: 1.5em;
	box-shadow: 0 0 0 0.4em #f1f1f1 inset;
	padding: 0.75em;
	transform: translate(0.5em,0.5em) scale(0.5);
	transform-origin: 100% 0;
}
.search-bar input:focus,
.search-bar input:valid {
	background: #fff;
	border-radius: 0.375em 0 0 0.375em;
	box-shadow: 0 0 0 0.1em #3d3d3d inset;
	transform: scale(1);
}
.search-btn {
	background: #f1f1f1;
	border-radius: 0 0.75em 0.75em 0 / 0 1.5em 1.5em 0;
	padding: 0.75em;
	position: relative;
	transform: translate(0.25em,0.25em) rotate(45deg) scale(0.25,0.125);
	transform-origin: 0 50%;
}
.search-btn:before, 
.search-btn:after {
	content: "";
	display: block;
	opacity: 0;
	position: absolute;
}
.search-btn:before {
	border-radius: 50%;
	box-shadow: 0 0 0 0.2em #f1f1f1 inset;
	top: 0.75em;
	left: 0.5em;
	width: 1.2em;
	height: 1.2em;
}
.search-btn:after {
	background: #f1f1f1;
	border-radius: 0 0.25em 0.25em 0;
    top: 61%;
    left: 45%;
	width: 0.75em;
	height: 0.25em;
	transform: translate(0.2em,0) rotate(45deg);
	transform-origin: 0 50%;
}
.search-btn span {
	display: inline-block;
	overflow: hidden;
	width: 1px;
	height: 1px;
}

/* Active state */
.search-bar input:focus + .search-btn,
.search-bar input:valid + .search-btn {
	background: rgb(30, 223, 4);
	border-radius: 0 0.375em 0.375em 0;
	transform: scale(1);
}
.search-bar input:focus + .search-btn:before, 
.search-bar input:focus + .search-btn:after,
.search-bar input:valid + .search-btn:before, 
.search-bar input:valid + .search-btn:after {
	opacity: 1;
}
.search-bar input:focus + .search-btn:hover,
.search-bar input:valid + .search-btn:hover,
.search-bar input:valid:not(:focus) + .search-btn:focus {
	background: #24db0c;
}
.search-bar input:focus + .search-btn:active,
.search-bar input:valid + .search-btn:active {
	transform: translateY(1px);
}

.logo-panier {
    width: 2.5em;
    height: 2.5em;
}

/* diapo en haut du site */

.slideshow{
    overflow: hidden;
    max-width: 90%;
    margin-top: 2em;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: -1;
}
    
.slideshow ul{
    padding-bottom: 66.67%;/* ratio pour le responsive */
    margin: 0;
    position: relative;
}
    
.slideshow li{
    top: 0;
    left: 0;
    animation: slideshow 25s ease infinite;
    position: absolute;
    opacity: 0;
    object-fit: contain;
}

.slideshow li:nth-child(2){
    animation-delay: 5s
}

.slideshow li:nth-child(3){
    animation-delay: 10s
}

.slideshow li:nth-child(4){
    animation-delay: 15s
}

.slideshow li:nth-child(5){
    animation-delay: 20s
}

@keyframes slideshow{	
    0%{opacity: 0}
    10%{opacity: 1}
    20%{opacity: 1}
    25%{opacity: 0}
    100%{opacity: 0}
} 

/* première section */

/*

article *{
    display:flex;
    flex-direction: column;
}

.titr_nouv {
    margin-top: 10%;
    text-align: left;
    padding-left: 10%;
    padding-right: 10%;
    font-size: x-large;
}
.nouveaute {
    background-color: darkblue;
    list-style-type: none;
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
    padding-top: 1%;
    padding-left: 10%;
    padding-right: 10%;
}
.items{
    background-color: yellowgreen;
    height: 50%;
    border:solid;
    width: 20%;
}
.img_items{
    height: 50%;
    width: 50%;
}
.texte{
    text-align: left;
}
.prix{
    text-align: right;
}
*/

/* Main part */

.produits {
    list-style: none;
    display:flex;
    flex-wrap: wrap;
    padding: 0 10%;   
}

.produits li{
    flex-basis:50%;
}

.produits input {
    color:green;
    border-color: green;
    background-color: black;
}

.produits li a{
    display: flex;
    justify-content: center;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: green;
    border:solid;
}

/* barre du bas */

.navzone{
    width: 100%;
    background-color: darkcyan;
    margin-top: 100%;
    line-height: 50%;
}
.navzone a{
    display: block;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}
.navzone ul{
    list-style-type: none;
}
.info{
    width:25%;
    float:left;
    text-align:center;
}
.info a{
    font-size: small;
    color:lightcyan;   
}